h2{
  color: #38FF14;
}

h4{
  color: #38FF14;
}

body {
  background: black;
}

.navbar{
  position: fixed;

}

.icon{
    width:40px;
    height:40px;
}

#details{
    visibility: hidden;
}

#costRow{
    visibility : hidden;
}
#youthDiscountRow{
    visibility : hidden;
}
#oapDiscountRow{
    visibility : hidden;
}
#saleDiscountRow{
    visibility : hidden;
}




@media only screen and (max-width: 576px) {
  .mobileRemove {
    display: none;
  }
    div{
        padding: 10px;
    }
    h1{
        transition: 0ms;
    }
    
}

h1 {
transition: 200ms;
}


input:valid {
  border: 4px solid #51ad86;
}

#plans{
    cursor: default;
}
#offer{
    cursor: default;
}
#costSum{
    cursor: default;
}

