.mavbar-toggler{
    visibility: hidden;
}

.navigation{
    position: fixed;
  }

.nav-link{
    color: #38FF14;
    background-color: black;
}

.navbar{
    background-color: black;
}

@media screen and (max-width: 800px){
    .mavbar-toggler{
      visibility: visible;
      background-color: #38FF14;
    }
  
    .navbar-num{
      visibility: hidden;
    }
  
    .nav-link{
      color: #38FF14;
      background-color: black;
    }
  }

.nav-link:hover, .navbar-num:hover { COLOR: white; }
