.mavbar-toggler{
    visibility: hidden;
}


.nav-link{
    color: #38FF14;
    background-color: black;
}

.navbar{
  background-color: black;
}

@media screen and (max-width: 800px){
    .mavbar-toggler{
      visibility: visible;
      background-color: #38FF14;
    }
  
    .navbar-num{
      visibility: hidden;
    }
  
    .nav-link{
      color: #38FF14;
      background-color: black;
    }
  }